# Ambientes virtuais 
venv/
.venv/
env/
src/venv/

# Dados brutos gerados
data/raw/
data/processed/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Configurações de IDE
.vscode/
.idea/
*.code-workspace

# Arquivos do sistema
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Variáveis de ambiente 
.env
*.env
